# 회귀 - 보스턴 집값 예측

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
seed=2021
np.random.seed(seed)
tf.random.set_seed(seed)

In [7]:
from sklearn.datasets import load_boston
boston = load_boston()

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    boston.data, boston.target, test_size=0.1, random_state=seed
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((455, 13), (51, 13), (455,), (51,))

## 모델 정의/설정/학습

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
model = Sequential([
    Dense(30, input_dim=13, activation='relu'),
    Dense(6, activation='relu'),
    Dense(1)
])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 30)                420
_________________________________________________________________
dense_7 (Dense)              (None, 6)                 186
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 7
=================================================================
Total params: 613
Trainable params: 613
Non-trainable params: 0
_________________________________________________________________

In [18]:
model.compile(optimizer='adam', loss='mse')

In [19]:
history = model.fit(X_train, y_train, epochs=500, batch_size=40, verbose=0)

## 평가

In [24]:
pred = model.predict(X_test)
print(pred.shape)
print(y_test.shape)

(51, 1)
(51,)

In [25]:
pred = pred.flatten()
pred.shape

(51,)

## - 예측값과 실제값 비교

In [26]:
df= pd.DataFrame({
    '실제가격':y_test, '예측가격': pred
})
df.head(10)

   실제가격       예측가격
0  21.7  17.546448
1  15.6  16.458111
2  20.0  19.001915
3  12.8  13.017364
4  50.0  44.458374
5  20.6  15.763905
6  22.6  23.229454
7  24.1  25.690380
8  24.4  19.607689
9  36.1  33.361954